body {
    background-color: whitesmoke;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 0;
    margin-right: 0;
}
header {
    display: flex;
    justify-content: flex-end;
    padding-left: auto;
    margin-left: auto;
    padding-top: 5px;
    padding-right: 20px;
}

.header {
    /* display: inline-block; */
    font-size: 25px;
    padding: 12px;
    margin-bottom: -2px;
    font-weight: 700;
    color: rgb(133, 129, 5);
    outline: 1px solid black;
    border-radius: 4px
}

.all-cat {
    padding-left: 0;
}
/* section {
    width: 480px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
} */

li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
    font-size: 25px;
    font-weight: 500;
    border-bottom: 1px solid rgba(215, 207, 207, 0.925);
}

span {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: rgb(93, 104, 104);
    
}

ul .syntax {
    color: rgb(182, 89, 13);
}

.syntax-item {
    font-style: italic;
    font-size: 17px;
    color: rgb(5, 88, 111);
}